[submodule "fpgaconvnet-optimiser"]
	path = fpgaconvnet-optimiser
	url = git@github.com:AlexMontgomerie/fpgaconvnet-optimiser.git
[submodule "fpgaconvnet-model"]
	path = fpgaconvnet-model
	url = git@github.com:AlexMontgomerie/fpgaconvnet-model.git
